:root {
--primary-color: #092635;
--secondary-color: #1B4242;
--navbar-color: #092635; 
--navbar-link-color: #4C8671; 
--header-color: #9EC8B9;
--text-color: #5C8374;
--background-color: #DAEAE4; 
--background-color2: #1B4242; 
--button-color: #1B4242;
--button-hover-color: #F2F8F6;
--font-weight-bold: bold; 
--card-background-color: #BDD9CF; 
--button-text-color: #2C716A; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: var(--background-color2); 
  color: var(--text-color); 
  margin: 0px;
  padding: 0px; 
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: var(--header-color); 
  font-weight: bolder;
  font-size: 24px; 
  color: var(--text-color); 
  padding: 20px; 
  text-align: center;
  transition: color 0.3s;
  font-weight: bold;
}

header.hover {
  color: var(--button-hover-color)
}

.navbar {
  background-color: var(--navbar-color);
}

nav {
  background-color: var(--navbar-color); 
  color: var(--header-color); 
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0; 
}

nav ul li a {
  text-decoration: none;
  color: var(--navbar-link-color);
  transition: color 0.3s; 
}

nav ul li a:hover {
  color: var(--button-hover-color); 
} 

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space around; 
  gap: 20px; 
  padding: 20px; 
}

.project-card {
  flex-basis: calc(33.3% - 20px);
  max-width: calc(33.3% - 20px);
  background-color: var(--card-background-color);
  border: 1px solid; 
  border-radius: 5px; 
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(red, green, blue, alpha);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; 
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.project-card h3, 
.project-card p,
.project-card a {
  margin: 10px;
}


.project-card a {
  align-self: center;
  background-color: var(--button-color);
  color: white; 
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
} 

.project-card a:hover {
  background-color: var(--button-hover-color);
}

.card-title {
  font-weight: var(--font-weight-bold);
}

.btn-primary {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none; 
}

.btn-primary:hover {
  background-color: var(--button-hover-color);
  color: var(--button-color); 
}

.home-page,
.contact-page {
  text-align: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
}

.img-resize {
  width: 10%;
}

 @media screen and (max-width: 1200px) {
  .project-card {
    align-items: center;
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
   }
} 

@media screen and (max-width: 1800px) {
  .project-card {
    align-items: center;
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
   }
} 